<h3>Welcome @ViewBag.UserName</h3>

<p><a href="/Home/Print" class="btn btn-primary btn-lg">Items &raquo;</a></p>

<div class="RegBox">
    <div class="ContactRegBox">
        <p>Hello! Welcome @ViewBag.Pronoun @ViewBag.UserName</p>
        <p>StateManagement.</p>
        <p><br /></p>
        <p><br /></p>
        <p>Phone: @ViewBag.Phone</p>
        <p>Email: @ViewBag.Email</p>
    </div>
</div>